<%- include('template/header'); -%>

    <div style="background-color: bisque;" class="border-bottom">
        <div class="container py-2">
            <nav aria-label="breadcrumb  py-0">
                <ol class="breadcrumb  my-0">
                    <li class="breadcrumb-item  m-0"><a href="/">Home</a></li>
                    <li class="breadcrumb-item  my-0"><a href="/taxonomies">Library</a></li>
                    <li class="breadcrumb-item active  my-0" aria-current="page">Project topic</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container my-5">
        <div class="row  border rounded">
            <div class="col-12 col-md-12 p-2 p-md-5">
                <h1 class="">
                    <%- project.title %>
                </h1>
                <p class="text-muted">
                    2020, Research work
                </p>

                <p>
                    <%- project.description %>
                </p>

                <div class="my-3">
                    <span>
                        <i class="bi bi-tags"></i>
                        Tags
                    </span>
                    <span class="mx-2">
                        <i class="bi bi-file-earmark"></i>
                        <%- project.pages_count??0 %>
                    </span>
                    <span class="mx-2">
                        <i class="bi bi-cash-coin"></i>
                        Yes
                    </span>
                    <span>
                        <i class="bi bi-check-all"></i>
                        Abstract
                    </span><br>
                    <div class="mt-2"><span><i class="bi bi-layers"></i>
                            <%- project.chapters_count??0 %> Chapters
                        </span></div>
                </div>

                <p class="my-3">
                    <span class="fw-bold">Publication Date</span>: 2020
                    <br>
                    <span class="fw-bold">Publication Name</span>: Research work
                </p>

                <div class="my-3">
                    <div class="text-muted">Purchase Fee</div>
                    <h3>₦<%- project.price??0 %>
                    </h3>
                </div>

                <div>
                    <button class="btn btn-primary btn-lg">
                        <i class="bi bi-download"></i>
                        Download DocX</button>
                    <button class="btn btn-danger btn-lg" type="button" data-toggle="modal" data-target="#payModal">
                        <i class="bi bi-credit-card"></i>
                        Pay</button>
                </div>
            </div>

            <div class="col-12">
                <hr />
            </div>
            <div class="col-12 col-md-12 p-2 p-md-5">
                <h3>
                    Descripion
                </h3>
                <article>
                    <%- project.body %>
                </article>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="my-2"  action="/rest/make-payment" method="post">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email"
                                name="email">
                            <input type="text"  hidden class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Enter email"
                                name="project_id" value="<%- project._id %>">
                            <small id="emailHelp" class="form-text text-muted">An email address you manage </small>
                        </div>
                        <button class="btn btn-primary btn-lg w-100" type="submit" data-toggle="modal"
                            data-target="#payModal">
                            <i class="bi bi-credit-card"></i>
                            Proceed
                        </button>
                    </form>

                    <div class="alert alert-info mt-2" role="alert">
                        After successful payment, we'll email a copy of <span class="fw-bold">
                            <%- project.title %>
                        </span> to the email you provided
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


    <%- include('template/footer'); -%>