<%- include('template/header'); -%>

    <div style="background-color: bisque;">
        <div class="container-fluid">
            <div class="border-bottom d-flex align-items-center">
                <div class="bg-ligh" style="flex: 1;">
                    <div class="px-0 py-5 mb-0 text-center">
                        <h1 class="fw-bold mb-3"><%- taxonomy.name %> </h1>
                        <p>Find research works under <%- taxonomy.name %>  here</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-8  my-3">
                <div class="border rounded">
                    <div class="d-flex align-items-center justify-content-between border-bottom p-3 bg-light">
                        <div>
                            Projects
                        </div>
                        <div>
                        </div>
                    </div>

                    <% projects.forEach(function(item){ %>
                        <div class="col-12 col-md-12 my-2 mb-0 border-bottom">
                            <%- include('components/project-card', {project: item}); %>
                        </div>
                        <% }); %>
                </div>
            </div>
            <div class="col-12 col-md-4 my-3">
                <div class="border rounded">
                    <div class="p-3">
                        Top categories
                    </div>
                    <div class="border-top">
                        <% taxonomies.forEach(function(item){ %>
                            <div class="col-12 col-md-12 my-2 mb-0 border-bottom">
                                <a href="/taxonomies/<%- item._id %> " class="p-3 py-2 text-decoration-none" >
                                    <%- item.name %> 
                                </a>
                            </div>
                            <% }); %>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <%- include('template/footer'); -%>